.centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.innerdiv {
	text-align: center;
	display: inline-block;
    margin: 0 auto;
	padding: 3px;
}
.outerdiv {
	text-align: center;
	width: 100%;
}

/*
div {
	border: 1px solid red;
}
*/

label,input{
  display:flex;
  flex-direction:column;
}

input{
	width: 200px
}