.topbar {
	background-color: white;
	overflow: hidden;
}
		
.topbar a {
	float: left;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	border-radius: 5px;
}
		
.topbar a:hover {
	background-color: #557ABE;
	color: white;
}
		
.topbar-active {
	background-color: #2B59AE;
	color: white;
}

.topbar-active a{
	color: white;
}


tr, td {
  border: 2px solid black;
}

.TopDownShelvesTable td {
	width: 50px;
	height: 50px;
}

.SelectedShelfTable td{
	width: 100px;
	height: 50px;
	
}

.TopDownShelvesTable {
  border-collapse: separate;
  border-spacing: 50px 0;
}

.TopDownShelvesTable td:hover {
    background-color: Cyan;
}

.selected {
    background-color: yellow;
  }
